<mat-toolbar color="primary" fxLayoutGap="8px">
    <button *ngIf="displayAccountIcons" mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>

    <a mat-button routerLink="/home">
        <app-lemon-icon>
            <span class="mat-h2">LemonMart</span>
        </app-lemon-icon>
    </a>
    <span class="flex-spacer"></span>
    <button
        *ngIf="displayAccountIcons"
        mat-mini-fab
        routerLink="/user/profile"
        matTooltip="Profile"
        aria-label="User Profile">
        <mat-icon>account_circle</mat-icon>
    </button>
    <button
        *ngIf="displayAccountIcons"
        mat-mini-fab
        routerLink="/user/logout"
        matTooltip="Logout"
        aria-label="Logout">
        <mat-icon>lock_open</mat-icon>
    </button>
</mat-toolbar>
<router-outlet></router-outlet>
