@import '~@angular/material/theming';
@include mat-core();

$mart-primary: mat-palette($mat-lime, 800);
$mart-accent: mat-palette($mat-indigo, A400);

$mart-app-theme: mat-light-theme($mart-primary, $mart-accent);

@include angular-material-theme($mart-app-theme);