<div *ngIf="!(authService.authStatus | async).isAuthenticated">
  <app-login></app-login>
</div>
<div *ngIf="(authService.authStatus | async).isAuthenticated">
  <span class="mat-display-3">You get a lemon, you get a lemon...</span>
</div>
